* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  img,
  .hidden {
    display: none;
  }
  
  img[src] {
    display: block;
  }
  
  #main-container {
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87b7ff;
  }
  
  #weather-container {
    height: 60%;
    width: 90%;
  }

  #weather-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  #city-name {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #current-temp {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #current-weather {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .weather-icon {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  
  #side-container {
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
  }
  
  #search-input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  
  #search-button {
    padding: 10px;
    background-color: #0075ff;
    color: #ffffff;
    border-radius: 5px;
    border-width: 1px;
  }
  
  .search-result:hover {
    font-weight: bold;
    cursor: pointer;
  }
  